html {
  margin: 0;
}

html body {
  margin: 0;
}

html body header {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

html body header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3vh;
}

html body header .logo h1 {
  padding-top: 2vh;
}

html body main {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html body main .form {
  padding-top: 2vh;
}

html body main .form form {
  display: flex;
  flex-direction: column;
}

html body main .form form input[type="email"] {
  width: 70vw;
  height: 3vh;
  padding: 1vh;
}

html body main .form form input[type="button"] {
  margin-top: 1.5vh;
  height: 5vh;
  padding: 1vh;
}

html body main .image {
  width: 75%;
  margin-top: 5vh;
}

html body main .image img {
  width: 100%;
  height: auto;
}

html body footer {
  width: 100%;
  height: 30vh;
}

html body footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

html body footer .social-media .item {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html body footer p {
  text-align: center;
}
